@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply overflow-hidden;
  /* overflow: hidden */
}

.main-center {
  @apply flex items-center justify-center h-full;
}

.change-scrollbar::-webkit-scrollbar {
  display: none;
}

.shadow-inset {
  box-shadow: 0 0 0 1000px rgba(23, 23, 23, 0.3) inset !important;
}


@media all and (min-width: 1024px) {
  .change-scrollbar::-webkit-scrollbar {
    display: block;
    width: 7.5px;
  }
  
  .change-scrollbar::-webkit-scrollbar-track {
    background-color: #171717;
  }
  
  .change-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1.5rem;
    background-color: #524C4C;
  }
}