@tailwind base;
@tailwind components;
@tailwind utilities;

.main-center {
  @apply flex items-center justify-center h-full;
}

.change-scrollbar::-webkit-scrollbar {
  display: none;
}

.limit-text-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 767px) {
  .limit-text-line {
    -webkit-line-clamp: 4;
  }
}

@media all and (min-width: 768px) {
  .limit-text-line {
    -webkit-line-clamp: 5;
  }
}

@media all and (min-width: 1024px) {
  .change-scrollbar::-webkit-scrollbar {
    display: block;
    width: 7.5px;
  }
  
  .change-scrollbar::-webkit-scrollbar-track {
    background-color: #171717;
  }
  
  .change-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1.5rem;
    background-color: #524C4C;
  }
}