@import "tailwindcss";

@theme {
  --color-dark-semi: #171717;

  --color-grey-light: #b7b7b7;
  --color-grey-semilight: #3c3d37;
  --color-grey-dark: #2b2b2b;
  --color-grey-semidark: #1c1c1c;
  --color-grey-textdark: #858585;
  --color-grey-borderdark: #242424;
  --color-grey-bgdark: #27272c;
  
  --color-primary: #1d4ed8;

  --font-family-roboto: Roboto, sans-serif;
  --font-family-yantramanav: Yantramanav, sans-serif;

  --font-size-8px: 8px;

  --border-width-0.5px: 0.5px;
  --backdrop-blur-xs: 2px;

  --width-65%: 65%;
  --width-60%: 60%;
  --width-77.5%: 77.5%;
  
  --translate-1.5px: 1.5px;
}

.main-center {
  @apply flex items-center justify-center h-full;
}

.change-scrollbar::-webkit-scrollbar {
  display: none;
}

.shadow-inset {
  box-shadow: 0 0 0 1000px #1717174d inset !important;
}

@media all and (max-width: 767px) {
  :root {
    --width: 80%;
    --height: 75%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --width: 60%;
    --height: 65%;
  }  
}

@media all and (min-width: 1024px) {
  :root {
    --width: 30%;
    --height: 75%;
  }

  .change-scrollbar::-webkit-scrollbar {
    display: block;
    width: 7.5px;
  }
  
  .change-scrollbar::-webkit-scrollbar-track {
    background-color: #171717;
  }
  
  .change-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1.5rem;
    background-color: #524c4c;
  }
}